{% extends 'base.html.twig' %}

{% block title %}{{ 'enabel_user.profile.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="main-header">
        <h2 class="main-title">{{ 'enabel_user.profile.title.edit'|trans }}</h2>
    </div>
    <div class="mt-3">
        {{ form(form) }}
    </div>
{% endblock %}


