includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4